.App {
  display: flex;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(143, 82, 82);
}

.row {
	display: flex;
	flex-direction: row;
}

.board {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

/* Style the button and place it in the middle of the container/image */
.square-button {
	background-color: white;
	color: rgb(243, 47, 12);
	font-size: 100px;
  padding: 12px 24px;
  box-sizing: border-box;
  cursor: pointer;
  width: 200px;
  min-height: 200px;
  background-size: 800px 800px;
  }
